section {
    width: 80%;
    height: 800px;
    background: url(https://images.unsplash.com/photo-1591285713698-598d587de63e?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/40% no-repeat blueviolet;

    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 100px;
    color: black;
}